COMMERCAL;
BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
FREQUENCY NET "clk_i_c" 40.000000 MHz ;
#FREQUENCY NET "clk_16" 16.000000 MHz ;
#FREQUENCY NET "gdp_clk" 40.000000 MHz ;
OBUF ALLPORTS O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "clk_i" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "nkc_nRD_i" O_TYPE=LVCMOS33 ;
OBUF PORT "nkc_ADDR_i_7" O_TYPE=LVCMOS33 ;
OBUF PORT "nkc_ADDR_i_6" O_TYPE=LVCMOS33 ;
OBUF PORT "nkc_ADDR_i_5" O_TYPE=LVCMOS33 ;
OBUF PORT "nkc_ADDR_i_4" O_TYPE=LVCMOS33 ;
OBUF PORT "nkc_ADDR_i_3" O_TYPE=LVCMOS33 ;
OBUF PORT "nkc_ADDR_i_2" O_TYPE=LVCMOS33 ;
OBUF PORT "nkc_ADDR_i_1" O_TYPE=LVCMOS33 ;
OBUF PORT "nkc_ADDR_i_0" O_TYPE=LVCMOS33 ;
OBUF PORT "nkc_DB_7" O_TYPE=LVCMOS33 PULLMODE=UP ;
OBUF PORT "nkc_DB_6" O_TYPE=LVCMOS33 PULLMODE=UP ;
OBUF PORT "nkc_DB_5" O_TYPE=LVCMOS33 PULLMODE=UP ;
OBUF PORT "nkc_DB_4" O_TYPE=LVCMOS33 PULLMODE=UP ;
OBUF PORT "nkc_DB_3" O_TYPE=LVCMOS33 PULLMODE=UP ;
OBUF PORT "nkc_DB_2" O_TYPE=LVCMOS33 PULLMODE=UP ;
OBUF PORT "nkc_DB_1" O_TYPE=LVCMOS33 PULLMODE=UP ;
OBUF PORT "nkc_DB_0" O_TYPE=LVCMOS33 PULLMODE=UP ;
OBUF PORT "driver_nEN_o" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "reset_n_i" O_TYPE=LVCMOS33 ;
OBUF PORT "SRAM1_nOE" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "SRAM1_nWR" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "SRAM1_DB_7" O_TYPE=LVCMOS33 PULLMODE=UP ;
OBUF PORT "SRAM1_DB_6" O_TYPE=LVCMOS33 PULLMODE=UP ;
OBUF PORT "SRAM1_DB_5" O_TYPE=LVCMOS33 PULLMODE=UP ;
OBUF PORT "SRAM1_DB_4" O_TYPE=LVCMOS33 PULLMODE=UP ;
OBUF PORT "SRAM1_DB_3" O_TYPE=LVCMOS33 PULLMODE=UP ;
OBUF PORT "SRAM1_DB_2" O_TYPE=LVCMOS33 PULLMODE=UP ;
OBUF PORT "SRAM1_DB_1" O_TYPE=LVCMOS33 PULLMODE=UP ;
OBUF PORT "SRAM1_DB_0" O_TYPE=LVCMOS33 PULLMODE=UP ;
OBUF PORT "SRAM1_ADR_16" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "SRAM1_ADR_15" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "SRAM1_ADR_14" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "SRAM1_ADR_13" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "SRAM1_ADR_12" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "SRAM1_ADR_11" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "SRAM1_ADR_10" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "SRAM1_ADR_9" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "SRAM1_ADR_8" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "SRAM1_ADR_7" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "SRAM1_ADR_6" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "SRAM1_ADR_5" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "SRAM1_ADR_4" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "SRAM1_ADR_3" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "SRAM1_ADR_2" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "SRAM1_ADR_1" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "SRAM1_ADR_0" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "SRAM1_nCS" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "SRAM1_nCS1" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "Vsync_o" O_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW ;
OBUF PORT "Hsync_o" O_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=SLOW ;
OBUF PORT "Blue_o_2" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "Blue_o_1" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "Blue_o_0" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "Green_o_2" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "Green_o_1" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "Green_o_0" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "Red_o_2" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "Red_o_1" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "Red_o_0" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "driver_DR_o" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "nkc_nORQ_i" O_TYPE=LVCMOS33 ;
OBUF PORT "nkc_nWR_i" O_TYPE=LVCMOS33 ;
OBUF PORT "glob_gdp_en_i" O_TYPE=LVCMOS33  PULLMODE=DOWN ;
LOCATE COMP "glob_gdp_en_i" STE "134" ;

LOCATE COMP "clk_i" STE "24" ;
LOCATE COMP "reset_n_i" STE "62" ;
LOCATE COMP "nkc_nWR_i" STE "58" ;
LOCATE COMP "nkc_nRD_i" STE "57" ;
LOCATE COMP "nkc_nORQ_i" STE "60" ;
LOCATE COMP "nkc_DB_7" STE "45" ;
LOCATE COMP "nkc_DB_6" STE "43" ;
LOCATE COMP "nkc_DB_5" STE "42" ;
LOCATE COMP "nkc_DB_4" STE "41" ;
LOCATE COMP "nkc_DB_3" STE "40" ;
LOCATE COMP "nkc_DB_2" STE "35" ;
LOCATE COMP "nkc_DB_1" STE "34" ;
LOCATE COMP "nkc_DB_0" STE "33" ;
LOCATE COMP "nkc_ADDR_i_7" STE "55" ;
LOCATE COMP "nkc_ADDR_i_6" STE "53" ;
LOCATE COMP "nkc_ADDR_i_5" STE "52" ;
LOCATE COMP "nkc_ADDR_i_4" STE "51" ;
LOCATE COMP "nkc_ADDR_i_3" STE "50" ;
LOCATE COMP "nkc_ADDR_i_2" STE "48" ;
LOCATE COMP "nkc_ADDR_i_1" STE "47" ;
LOCATE COMP "nkc_ADDR_i_0" STE "46" ;
LOCATE COMP "driver_nEN_o" STE "32" ;
LOCATE COMP "driver_DR_o" STE "31" ;
LOCATE COMP "Vsync_o" STE "70" ;
LOCATE COMP "SRAM1_nWR" STE "103" ;
LOCATE COMP "SRAM1_nOE" STE "120" ;
LOCATE COMP "SRAM1_nCS" STE "122" ;
LOCATE COMP "SRAM1_nCS1" STE "132" ;
LOCATE COMP "SRAM1_DB_7" STE "117" ;
LOCATE COMP "SRAM1_DB_6" STE "115" ;
LOCATE COMP "SRAM1_DB_5" STE "113" ;
LOCATE COMP "SRAM1_DB_4" STE "104" ;
LOCATE COMP "SRAM1_DB_3" STE "105" ;
LOCATE COMP "SRAM1_DB_2" STE "114" ;
LOCATE COMP "SRAM1_DB_1" STE "116" ;
LOCATE COMP "SRAM1_DB_0" STE "118" ;
LOCATE COMP "SRAM1_ADR_16" STE "130" ;
LOCATE COMP "SRAM1_ADR_15" STE "128" ;
LOCATE COMP "SRAM1_ADR_14" STE "125" ;
LOCATE COMP "SRAM1_ADR_13" STE "123" ;
LOCATE COMP "SRAM1_ADR_12" STE "102" ;
LOCATE COMP "SRAM1_ADR_11" STE "99" ;
LOCATE COMP "SRAM1_ADR_10" STE "96" ;
LOCATE COMP "SRAM1_ADR_9" STE "94" ;
LOCATE COMP "SRAM1_ADR_8" STE "92" ;
LOCATE COMP "SRAM1_ADR_7" STE "93" ;
LOCATE COMP "SRAM1_ADR_6" STE "95" ;
LOCATE COMP "SRAM1_ADR_5" STE "97" ;
LOCATE COMP "SRAM1_ADR_4" STE "100" ;
LOCATE COMP "SRAM1_ADR_3" STE "124" ;
LOCATE COMP "SRAM1_ADR_2" STE "126" ;
LOCATE COMP "SRAM1_ADR_1" STE "129" ;
LOCATE COMP "SRAM1_ADR_0" STE "131" ;
LOCATE COMP "Red_o_2" STE "80" ;
LOCATE COMP "Red_o_1" STE "81" ;
LOCATE COMP "Red_o_0" STE "82" ;
LOCATE COMP "Green_o_2" STE "77" ;
LOCATE COMP "Green_o_1" STE "78" ;
LOCATE COMP "Green_o_0" STE "79" ;
LOCATE COMP "Hsync_o" STE "71" ;
LOCATE COMP "Blue_o_2" STE "72" ;
LOCATE COMP "Blue_o_1" STE "74" ;
LOCATE COMP "Blue_o_0" STE "76" ;
LOCATE COMP "RxD_i" STE "69" ;
LOCATE COMP "TxD_o" STE "67" ;
LOCATE COMP "RTS_o" STE "66" ;
LOCATE COMP "CTS_i" STE "65" ;
#LOCATE COMP "debug_o_0" STE "134" ;
#LOCATE COMP "debug_o_1" STE "135" ;
#LOCATE COMP "debug_o_2" STE "137" ;
#LOCATE COMP "debug_o_3" STE "138" ;
#LOCATE COMP "debug_o_4" STE "139" ;
#LOCATE COMP "debug_o_5" STE "140" ;
#LOCATE COMP "debug_o_6" STE "141" ;
#LOCATE COMP "debug_o_7" STE "4" ;
#LOCATE COMP "debug_o_8" STE "5" ;
#LOCATE COMP "debug_o_9" STE "6" ;
#LOCATE COMP "debug_o_10" STE "7" ;
#LOCATE COMP "debug_o_11" STE "9" ;
#LOCATE COMP "debug_o_12" STE "10" ;
#LOCATE COMP "debug_o_13" STE "12" ;
#LOCATE COMP "debug_o_14" STE "13" ;
#LOCATE COMP "debug_o_15" STE "15" ;
#LOCATE COMP "sample_clk_o" STE "17" ;
#LOCATE COMP "addr_sel_i" STE "29" ;
#OBUF PORT "addr_sel_i" O_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "Ps2Clk_io" STE "84" ;
LOCATE COMP "Ps2Dat_io" STE "83" ;
OBUF PORT "Ps2Clk_io" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "Ps2Dat_io" O_TYPE=LVCMOS33 PULLMODE=NONE ;
#LOCATE COMP "FDD_DRCn" STE "134" ;
#LOCATE COMP "FDD_DSELn_0" STE "135" ;
#LOCATE COMP "FDD_DSELn_1" STE "137" ;
#LOCATE COMP "FDD_DSELn_2" STE "138" ;
#LOCATE COMP "FDD_DSELn_3" STE "139" ;
#LOCATE COMP "FDD_Pn" STE "140" ;
#LOCATE COMP "FDD_MOn" STE "141" ;
#LOCATE COMP "FDD_RDn" STE "4" ;
#LOCATE COMP "FDD_SDSEL" STE "5" ;
#LOCATE COMP "FDD_SDE" STE "6" ;
#LOCATE COMP "FDD_STEPn" STE "7" ;
#LOCATE COMP "FDD_TR00n" STE "9" ;
#LOCATE COMP "FDD_WDn" STE "10" ;
#LOCATE COMP "FDD_WGn" STE "12" ;
#LOCATE COMP "FDD_WPRTn" STE "13" ;
#OBUF PORT "FDD_Pn" O_TYPE=LVCMOS33 PULLMODE=UP ;
#OBUF PORT "FDD_RDn" O_TYPE=LVCMOS33 PULLMODE=UP ;
#OBUF PORT "FDD_TR00n" O_TYPE=LVCMOS33 PULLMODE=UP ;
#OBUF PORT "FDD_WPRTn" O_TYPE=LVCMOS33 PULLMODE=UP ;
#OBUF PORT "RxD_i" O_TYPE=LVCMOS33 PULLMODE=UP ;
#OBUF PORT "FDD_DRCn" O_TYPE=LVCMOS33 PULLMODE=UP ;
#OBUF PORT "FDD_MOn" O_TYPE=LVCMOS33 PULLMODE=UP ;
#OBUF PORT "FDD_SDE" O_TYPE=LVCMOS33 PULLMODE=UP ;
#OBUF PORT "FDD_STEPn" O_TYPE=LVCMOS33 PULLMODE=UP ;
#OBUF PORT "FDD_WDn" O_TYPE=LVCMOS33 PULLMODE=UP ;
#OBUF PORT "FDD_WGn" O_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "Ps2MouseClk_io" STE "87" ;
LOCATE COMP "Ps2MouseDat_io" STE "86" ;
OBUF PORT "Ps2MouseClk_io" O_TYPE=LVCMOS33 PULLMODE=NONE ;
OBUF PORT "Ps2MouseDat_io" O_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "PWM_OUT_o" STE "89" ;
#PCCLAMP possible on /O Bank 0,1,4,5
LOCATE COMP "SD_SCK_o" STE "27" ;
LOCATE COMP "SD_MOS_o" STE "25" ;
#LOCATE COMP "SD_nCS_o_2" STE "18" ;  # ext7
LOCATE COMP "SD_nCS_o_1" STE "23" ;
LOCATE COMP "SD_nCS_o_0" STE "22" ;
LOCATE COMP "SD_MSO_i" STE "30" ;
OBUF PORT "SD_MSO_i" O_TYPE=LVCMOS33 PULLMODE=UP ;
# ETH-SP
LOCATE COMP "ETH_nCS_o" STE "18" ;  # ext7
LOCATE COMP "ETH_SCK_o" STE "26";
LOCATE COMP "ETH_MOS_o" STE "138";
LOCATE COMP "ETH_MSO_i" STE "29";
OBUF PORT "ETH_MSO_i" O_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "nRQ_o" STE "63" ;
OBUF PORT "nRQ_o" O_TYPE=LVCMOS33 PULLMODE=NONE PCCLAMP=OFF OPENDRAN=ON ;

#LOCATE COMP "VDP_MOS_o" STE "26" ;
#LOCATE COMP "VDP_CS_o" STE "18" ;
#LOCATE COMP "VDP_MSO_i" STE "16" ;
#OBUF PORT "VDP_MSO_i" O_TYPE=LVCMOS33 PULLMODE=UP ;
#LOCATE COMP "VDP_SCK_o" STE "29" ;
LOCATE COMP "GPO_io_0" STE "15";  #EXT10
LOCATE COMP "GPO_io_1" STE "13";  #EXT11
LOCATE COMP "GPO_io_2" STE "12";  #EXT12
LOCATE COMP "GPO_io_3" STE "10";  #EXT13
LOCATE COMP "GPO_io_4" STE "9" ;  #EXT14
LOCATE COMP "GPO_io_5" STE "7" ;  #EXT15
LOCATE COMP "GPO_io_6" STE "6" ;  #EXT16
LOCATE COMP "GPO_io_7" STE "5" ;  #EXT17

OBUF PORT "GPO_io_0" PULLMODE=UP ;  #EXT10
OBUF PORT "GPO_io_1" PULLMODE=UP ;  #EXT11
OBUF PORT "GPO_io_2" PULLMODE=UP ;  #EXT12
OBUF PORT "GPO_io_3" PULLMODE=UP ;  #EXT13
OBUF PORT "GPO_io_4" PULLMODE=UP ;  #EXT14
OBUF PORT "GPO_io_5" PULLMODE=UP ;  #EXT15
OBUF PORT "GPO_io_6" PULLMODE=UP ;  #EXT16
OBUF PORT "GPO_io_7" PULLMODE=UP ;  #EXT17


#set_output_delay 5 -max -clock [get_clocks clk_i_c] [get_ports SRAM1_ADR*]
MAXDELAY NET "*SRAM1_*" 2 ns ;
#MAXDELAY FROM "clk_i_c" to CELL "*SRAM1_ADDR*" 2 ns ;
MAXDELAY FROM PORT "SRAM1_nCS*" TO PORT "SRAM1_DB*" 18 NS;
MAXDELAY FROM PORT "SRAM1_nOE" TO PORT "SRAM1_DB*" 18 NS;


# Time of rising edge of clk_i -> signal on output pad -> not relevant for SRAM
#CLOCK_TO_OUT PORT "*SRAM1_*" 2.000000 ns MN 0.000000 ns CLKNET "clk_i_c"; # CLKOUT PORT "*SRAM1_*" ;

             